<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reserve.mapper.InfoMapper">
    <insert id="addInfo" parameterType="Info">
        insert into info (position, date, model, status)
        values (#{position}, #{date}, #{model}, #{status})
    </insert>
    <delete id="deleteInfo" parameterType="int">
        delete
        from info
        where id = #{rsvID};
        delete
        from ses_info
        where info_id = #{rsvID}
    </delete>
    <select id="getInfoBySes" resultType="Info" parameterType="int">
        select id, position, date, model, status
        from info,
             ses_info
        where id = ses_info.info_id
          and session_id = #{rsvID}
    </select>
    <select id="getInfoByEmail" resultType="Info" parameterType="String">
        select info.id, position, date, model, status
        from info,
             user_info,
             user
        where user.email = #{email}
          and user.id = user_info.user_id
          and info.id = user_info.info_id
    </select>
    <select id="getAll" resultType="Info">
        select *
        from info
    </select>
</mapper>