<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reserve.mapper.SesMapper">
    <insert id="addSes" parameterType="Ses">
        insert into session (date, startTime, endTime, position, `limit`, num)
        values (#{date}, #{startTime}, #{endTime}, #{position}, #{limit}, 0);
    </insert>
    <delete id="deleteSes" parameterType="int">
        delete
        from session
        where id = #{sesID};
    </delete>
    <delete id="deleteInfo" parameterType="int">
        delete
        from info
        where ses_id = #{sesID};
    </delete>
    <select id="getSes" resultType="Ses" parameterType="int">
        select *
        from session
        where id = #{sesID};
    </select>
    <select id="getSome" resultType="Ses" parameterType="Date">
        select *
        from session
        where date >= #{fromDate};
    </select>
    <select id="getAll" resultType="Ses">
        select *
        from session;
    </select>
</mapper>