<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
管理员登录测试
<form action="/adminLogin" method="post">
    <label>
        <input type="text" name="account"/>
    </label>
    <label>
        <input type="password" name="password"/>
    </label>
    <input value="登录" type="submit"/>
</form>
用户登录测试
<form action="/userLogin" method="get">
    <label>
        <input type="email" name="email"/>
    </label>
    <input value="登录" type="submit"/>
</form>
<form action="/test" method="get">
    <input value="登录" type="submit"/>
</form>
</body>
</html>